input{
	text-transform: UPPERCASE;
}

#worker-input-form{
	transition: 0.4s all ease;
}


.pagination li a, .pagination li span{
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0275d8;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination li.disabled span {
    color: #636c72;
    pointer-events: none;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination li:first-child a {
    margin-left: 0;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}
.pagination li.active span {
    z-index: 2;
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}


.pagination li:focus, .pagination li a:hover {
    color: #014c8c;
    text-decoration: none;
    background-color: #eceeef;
    border-color: #ddd;
}


.btn-logout{
    text-transform: capitalize;
}


.table.table-borderless td, .table.table-borderless th {
    border: none;
}

/*for printing the signature section of the accounts single items*/
.print-full-width tbody, .print-full-width tr{
        display: block;
        width: 100%;
}
.print-full-width td{
    display: inline-block;
    width: 30%;

}

.worker, .company{
    display: none;
}